# Dépendances
vendor/
node_modules/

# Environnement
.env

# Storage
storage/logs/*
storage/cache/*
storage/uploads/*
!storage/logs/.gitkeep
!storage/cache/.gitkeep
!storage/uploads/.gitkeep
!storage/uploads/banque/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build (décommenter si pipeline CI en place)
# /public/css/app.css
# /public/js/app.js
