{% extends 'layout/app.html.twig' %}

{% block title %}Tableau de bord - ComptaV2{% endblock %}
{% block page_title %}Tableau de bord{% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
    {# Cards de stats #}
</div>
{% endblock %}
