{% extends 'layout/app.html.twig' %}

{% block title %}Paramètres - ComptaV2{% endblock %}
{% block page_title %}Paramètres{% endblock %}

{% set active_page = 'parametres' %}

{% block content %}
{% include 'app/parametres/_tabs.html.twig' %}

<div class="bg-white rounded-xl shadow-sm p-8 text-center text-slate-400">
    Paramètres généraux (à venir)
</div>
{% endblock %}
