{% extends 'layout/admin.html.twig' %}

{% block title %}Admin - ComptaV2{% endblock %}
{% block page_title %}Administration{% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
    {# Stats admin : nb entreprises, nb utilisateurs, nb imports #}
</div>
{% endblock %}
